@use "@/styles/variables" as *;

.forecast {
  margin-top: 40px;

  &__title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  &__chart {
    width: 100%;
    height: 300px;
  }

  &__status {
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .forecast {
    margin-top: 24px;

    &__title {
      font-size: 18px;
    }

    &__chart {
      height: 240px;
    }
  }
}
