.city-card {
  padding: 28px;

  min-width: 300px;
  max-width: 400px;

  border: 1px solid #e7e7e7;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;

  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 25px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__actions {
    display: flex;
    width: 100%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: #0097b2;
    color: white;
    font-weight: 400;
    border-radius: 30px;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  &__refresh {

    svg {
      transition: transform 0.4s ease;
    }

    &:hover svg {
      transform: rotate(180deg);
    }
  }
}
