@use "@/styles/variables" as *;

.not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-bg-main;

  &__container {
    text-align: center;
  }

  &__title {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $color-primary;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555555;
  }

  &__button {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 30px;
    background: $color-primary;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}
