.home {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background: #f4f6f8;

  &__container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  //&__form {
  //  position: relative;
  //  display: flex;
  //  gap: 10px;
  //  margin-bottom: 40px;
  //  width: 100%;
  //  max-width: 500px;
  //}
  //
  //&__input {
  //  flex: 1;
  //  height: 44px;
  //  padding: 0 16px;
  //  border-radius: 24px;
  //  border: 1px solid #e0e0e0;
  //  font-size: 14px;
  //  outline: none;
  //  transition: 0.2s ease;
  //
  //  &:focus {
  //    border-color: #0097b2;
  //  }
  //}
  //
  //&__button {
  //  height: 44px;
  //  padding: 0 25px;
  //  border-radius: 24px;
  //  border: none;
  //  background: #0097b2;
  //  color: white;
  //  font-weight: 400;
  //  cursor: pointer;
  //  transition: 0.2s ease;
  //
  //  &:hover {
  //    opacity: 0.9;
  //  }
  //}

  &__cards {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;

    justify-items: center;
  }
}

//.home__suggestions {
//  position: absolute;
//  top: 50px;
//  width: 100%;
//  background: white;
//  border-radius: 12px;
//  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
//  overflow: hidden;
//
//  li {
//    padding: 10px 16px;
//    cursor: pointer;
//    transition: 0.2s ease;
//
//    &:hover {
//      background: #f0f4f8;
//    }
//  }
//}