.home {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  background: #f4f6f8;

  &__container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  &__cards {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;

    justify-items: center;
  }
}
